language: python
python:
  - "2.6"
  - "2.7"
  #- "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
# command to install dependencies
install:
  - pip install coveralls
# command to run tests
script:
  - coverage run setup.py test
# command to run after success
after_success:
  - coveralls
